<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>espm-cloud-web</display-name>
  <servlet>
    <servlet-name>ODataServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.olingo.odata2.service.factory</param-name>
      <param-value>com.sap.espm.model.web.EspmServiceFactory</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ODataServlet</servlet-name>
    <url-pattern>/espm-cloud-web/espm.svc/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ODataServletFilter</filter-name>
    <filter-class>com.sap.espm.model.web.EspmServiceFactoryFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ODataServletFilter</filter-name>
    <url-pattern>/espm-cloud-web/espm.svc/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.sap.espm.startup.CFGuiceInitializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>ODataSecureServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.olingo.odata2.service.factory</param-name>
      <param-value>com.sap.espm.model.web.EspmServiceFactory</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ODataSecureServlet</servlet-name>
    <url-pattern>/espm-cloud-web/espm.svc/secure/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ODataSecureServletFilter</filter-name>
    <filter-class>com.sap.espm.model.web.EspmSecureServiceFactoryFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ODataSecureServletFilter</filter-name>
    <url-pattern>/espm-cloud-web/espm.svc/secure/*</url-pattern>
  </filter-mapping>
  
  <display-name>securepoint</display-name>
  <login-config> 
    <auth-method>XSUAA</auth-method>
  </login-config>
  
  <security-constraint>
  <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/espm-cloud-web/espm.svc/secure/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  	<auth-constraint>
      <role-name>Create</role-name>
    </auth-constraint>
  </security-constraint>
  
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <context-param>
    <param-name>liquibase.datasource</param-name>
    <param-value>java:comp/env/jdbc/DefaultDB</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>StartupServlet</display-name>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>com.sap.espm.model.web.StartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>